<header>
    <h1>@ViewBag.mensaje</h1>
</header>

<section class="SECCIONES">
    <div class="enlaces ">
        <h3>Presione <a href='@Url.Action("verDatosInteres", "Home")'>aqui</a> para ver sus datos de interes</h3>
        <h3 style="margin-left: 25%;">Presione <a href='@Url.Action("verDatosFamiliar", "Home")'>aqui</a> para ver sus datos familiares</h3>
    </div>
    <a href="@Url.Action("Index", "Home")" class="boton">Volver a pagina de inicio</a>
</section>