@{
    ViewData["Title"] = "Index";
}
<body>
    
<section>

<div class="izq">
    <h1>Bienvenidos a la presentacion web del grupo</h1>
    <p>Mostraremos la presentacion de nuestro grupo</p>
</div>
<div style="background-color: white;">
    <h1>LOGIN</h1>
    <form action='@Url.Action("login", "Home")' method="post" enctype="multipart/form-data">
    <div class="inputs">
        <article style="margin-top: 5%;"> <input type="text" name="email" placeholder="👤 Email" required> </article>
        <article> <input type="password" name="contraseña" placeholder="🔑 Contraseña" required> </article>
        <article class="submit"> <input type="submit" value="Iniciar sesion"> </article>
    </div>
    <h5>@ViewBag.mensaje</h5>
    </form>
    <form action='@Url.Action("logout", "Home")'>
        <div class="inputs">
            <article class="submit"> <input type="submit" value="Desloguarse"> </article>
        </div>
    </form>
</div>

</section>

</body>
