@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Bienvenidos a la presentacion web del grupo</h1>
    <p>Mostraremos la presentacion de nuestro grupo</p>
</div>
<div>
    <h2>LOGIN</h2>
    <form action='@Url.Action("login", "Home")' method="post" enctype="multipart/form-data">
    Usuario: <input type="text" name="email" required>
    Contrseña: <input type="password" name="contraseña" required>
    <input type="submit" value="Login">
    </form>
</div>
