html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

div{
  width: 50%;
}

section{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1, p{
  text-align: center;
}
h2{
  text-align: center;
}

.inputs{
  display: flex;
  flex-direction: column;
}

.inputs article input{
  border: none;
  border-bottom: 1px solid darkgray;
  width: 180%;
  margin-bottom: 10%;
  font-size: x-large;
  margin-left: 10%;
}

.izq{
  background-color: lightblue;
  padding-top: 21%;
  padding-bottom: 21%;
}

.submit{
  width: 50%;
  margin-left: 50%;
}